@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #156075;
    min-height: 100vh;
    background-color: #0c272e;
} */

/* Common gradient styles */
/* body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4a90e2, #7046aa);
    background: linear-gradient(135deg, #721e51, #2c3850);
    background: linear-gradient(135deg, #0883e0, #9e4b97);
    background: linear-gradient(313deg, #e00824, #9e4b97);
} */


/* @media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(135deg, #171717, #404040);
    }
} */

@layer base {

    html {
        scroll-behavior: smooth;
    }
    body {
        @apply font-Inter bg-black w-full min-h-screen
    }
}