@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #156075;
    min-height: 100vh;
} */

/* Common gradient styles */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4a90e2, #7046aa);
    background: linear-gradient(135deg, #721e51, #2c3850);
}
  
/* Media Query for Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(135deg, #171717, #404040);
    }
}
  